<!DOCTYPE >
<html>
<head>
  <title></title>
</head>
  <body>


    <%@tiller.receipts.each do |receipt|%>
      
      <div class="receipt" style="float: left; margin-left: 30px">
        
        <div class="info">
          <img class="front-page" src="/images/coffee.png" style="width:228px;height:228px">
          <br>
          <%=receipt.created_at%><br>
          <%=@menu.info["shopName"]%><br>
          <br>
          <br>
          <%=@menu.info["address"]%><br> 
          <%="Phone: #{@menu.info["phone"]}"%><br>
          <br>
          <%=receipt.order.customer.name%>
        </div>
        
        <div class="items">
          <%receipt.items.each do |k,v|%>
            <%@price = @menu.find(k).to_s%>
            <%="#{k} #{v.to_s} x #{@price}"%><br>
          <%end%>
        </div>

        <div class="totals">
          <br>
          <br>
          <%="Tax: #{receipt.calculator.tax.to_s}"%><br>
          <%="Total: #{receipt.calculator.total.to_s}"%>
        </div>
      </div>
    <%end%>
 
    
  </body>
</html>
